---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
const { entry } = Astro.props;
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);
const { Content, remarkPluginFrontmatter } = await entry.render();
const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
  .utc()
  //  .format("HH:mm:ss DD MMMM YYYY UTC");
   .format("YYYY-MM-DD HH:mm");

import MarkdownLayout from '../../layouts/markdownLayout.astro'
---


<MarkdownLayout frontmatter={entry.data}>
  <p>Last Modified: {lastModified} </p>
  <Content />
</MarkdownLayout>