.title-list {
    list-style-type: none;
    padding: 0;
}

.title-list li {
    margin-bottom: 20px; /* Add space between entries */
}

.post-header {
    display: flex;
    align-items: center; /* Align title and date on the same line */
    margin-bottom: 8px; /* Add space between header and tags */
}

.title {
    font-size: 1.5em; /* Make the title big */
    font-weight: bold;
    margin-right: 15px; /* Add space between title and date */
}

.date {
    font-size: 0.9em; /* Slightly smaller than the title */
    color: #888; /* Lighter color for the date */
}

.tag-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Add space between tags */
}

.tag {
    font-size: 0.8em; /* Make the tags smaller */
    color: gray;
    background-color:  rgb(48, 48, 48); /* Optional: tag background for better appearance */
    padding: 2px 6px;
    border-radius: 4px;
}