---
import { Image } from 'astro:assets';
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Foot from '../components/Foot.astro';

---
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iosevka@16.0.0/dist/iosevka.css"> -->

<Navigation />

<title>Contact</title>
<body>

<p>You have a few options if you want to reach me, the best one is probably <a href="mailto:yami@yamifrankc.com">email.</a> <br>
You can also find me at the 32-bit cafe <a href="https://discord.gg/tjCXYRSfKp">Discord</a>. </p>

<p>Sometimes I hang out at IRC on <a href="irc.rizon.net">Rizon</a> and <a href="irc.retronode.org">RetroNode</a>, so you may catch me there. Im not on often though! </p>

<p>While I do have a few social media accounts, I do not use them anymore and if you try to message me over there it will most likely go unnoticed. Please stick with email!
</p>
  

<h3>Guestbook</h3>


<iframe src="https://yamifrankc.atabook.org/?page=1" style="border:none;"  height="1000" width="500" title="Guestbook"></iframe> 

</body>

<style>
	.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -170px;
  padding: 0; 
}

h3 {
  margin-top: 0; 
  margin-bottom: 0;
}
</style>

<Foot />