---
import { Image } from 'astro:assets';
import yamiLogo from '/src/assets/images/yami.gif';
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---
<Navigation />
<body>
<Image src={yamiLogo}} alt="A col logo." />
	<h2>Links and stuff</h2>
	<div class"stuffList">
	<ul class="list">
	<li><a href="https://memeboard.yamifrankc.com/">Meme Soundboard</a> - A fun soundboard I made.</li>
	<li><a href="https://www.trigomijes.com/">Blog</a> - A blog I sometimes write to. Made with Hugo.</li>
	<li><a href="http://chetumal.xyz">Chetumal</a> - A Minecraft Java server (should be able to join with Bedrock.</li>
	</ul>
	</div>
	</body>
