---
import { getRandomPage } from '../utils/getRandomPage';
const randomPage = getRandomPage();
---

<footer>
<p>This site has been created by <a href="https://yamifrankc.com/posts/about">YamiFrankc</a> with <a href="https://astro.build/">Astro</a> -
<a href="https://github.com/FranciscoTrigo/yamifrankcAstro/">Source code</a> for this blog.
Copyright  2024 YamiFrankc. This work is licensed under the CC BY-SA 4.0 license.</p>
</footer>

<style>
footer {
text-align: center;
}
</style>
