---
import { getRandomPage } from '../utils/getRandomPage';
const randomPage = getRandomPage();
---
<footer>
<p>This site has been created by <a href="https://yamifrankc.com/">YamiFrankc</a> using Astro.</p>

<p>If you think this page could use a change, submit it at <a href="https://github.com/FranciscoTrigo/yamifrankcAstro/">this repo.</a></p>
<p><a href={randomPage}>Go to a random page</a></p>

<p>Copyright  2024 YamiFrankc. This work is licensed under the CC BY-SA 4.0 license.</p>
</footer>

<style>
footer {
text-align: center;
}
</style>