---
---
<head><script defer src="https://analytics.imayf.com/script.js" data-website-id="4e8f77b9-4b4b-4428-947d-1952dc2a521c"></script></head>
<header>
<a href="/">Home</a>
<a href="/archive">Post archive</a>
<a href="/posts/about">About</a>
<a href="/posts/uses">Uses</a>
<a href="/posts/links">Links</a>
<a href="/posts/now">Now</a>
<a href="/tags/">Tags</a>
</header>


<style>
    header {
    text-align: center;
    }
    </style>