---
---
<header>
<a href="/">Home</a>
<a href="/posts/about">About</a>
<a href="/posts/uses">Uses</a>
<a href="/posts/links">Links</a>
<a href="/posts/now">Now</a>
</header>


<style>
    header {
    text-align: center;
    }
    </style>