---
---
<header>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/uses/">Uses</a>
<a href="/links/">Links</a>
<a href="/now">Now</a>
</header>


<style>
    header {
    text-align: center;
    }
    </style>